theme = "gruvbox_black"

[editor]
color-modes = false
line-number = "relative"
completion-timeout = 5
completion-trigger-len = 1
gutters = ["line-numbers", "spacer", "diagnostics", "spacer"]
true-color = true
mouse = false
rulers = [120]
scrolloff = 0

[editor.cursor-shape]
insert = "bar"
normal = "bar"
select = "bar"

[editor.statusline]
left = ["mode", "spinner"]
center = ["separator", "file-base-name", "separator", "spacer", "file-modification-indicator"]
right = [
"diagnostics", "separator", "spacer", "position-percentage", "spacer", "separator", "position"
]

mode.normal = "ğ™‰ |"
mode.insert = "ğ™„ |"
mode.select = "ğ™‘ |"

[editor.lsp]
display-messages = true
display-signature-help-docs = false

[editor.indent-guides]
render = true

[keys.insert]
j = { k = "normal_mode" }

[keys.normal]
# newer ones
A-q = ":buffer-close"
A-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
A-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
C-j = ["move_visual_line_down", "move_visual_line_down", "move_visual_line_down", "move_visual_line_down", "move_visual_line_down"]
C-k = ["move_visual_line_up", "move_visual_line_up", "move_visual_line_up", "move_visual_line_up", "move_visual_line_up"]
# rebindings
X = "extend_line_above"
